.main{
    margin-top: 10%;
    margin-left:30% ;
    border: 2px solid black;
    height:400px;
    width:400px;
    display: flex;
    justify-content: space-between;
    
    background-color: black;
    align-items: center;

    
}
img{
    width: 300px;
    height: 300px;
    border-radius:2px;
    border: 2px solid black;
}
#track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .window {
    height : 300px;
    width : 300px;
    overflow: hidden;
  }